body { background: #d5f9da; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 56px; display: flex; }
.block-helper-0 { color: #ce2638; font-size: 19px; margin-bottom: 5px; }
.block-router-1 { color: #ed1cc6; font-size: 13px; margin-bottom: 5px; }
.block-cart-2 { color: #61968a; font-size: 21px; margin-bottom: 5px; }
.block-email-3 { color: #3f6c17; font-size: 18px; margin-bottom: 5px; }
.block-search-4 { color: #bedad5; font-size: 12px; margin-bottom: 5px; }
.block-search-5 { color: #72d7a8; font-size: 19px; margin-bottom: 5px; }